<a href="https://colab.research.google.com/github/anantterkar/OOPS_assignments/blob/main/encapsulation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
class country():
  def __init__(self,name,region):
    self.name = name
    self.region = region

  def print_name(self):
    print("Hello!, your country name is: ",self.name)
    print("The region is: ",self.region)

c1 = country("USA","NA")      #NA = North America
c2 = country("Egypt","EMEA") #EMEA = Europe Middle East Africa
c3 = country("India","SEA")  #SEA = South East Asia 

c1.print_name()
c2.print_name()
c3.print_name()

Hello!, your country name is:  USA
The region is:  NA
Hello!, your country name is:  Egypt
The region is:  EMEA
Hello!, your country name is:  India
The region is:  SEA

In [6]:
class Car:
    __maxspeed = 0
    __name = ""    
    def __init__(self):
        self.__maxspeed = 400
        self.__name = "Supercar"    
    def drive(self):
        print('driving. maxspeed ' + str(self.__maxspeed))
    

redcar = Car()
redcar.drive()
redcar.__maxspeed = 10        # will not change variable because its private
redcar.drive()

driving. maxspeed 400
driving. maxspeed 400

In [11]:
class base():
  def __init__(self):
    self.a = "OOP Course"
    self._c = "My name"
    print(self._c)

b = base()
print(b.a)
print(b._c)

My name
OOP Course
My name

In [14]:
#Example of a non-paramaterized constructor
class scale():
  def __init__(self):
    pass
  def met(self,size):
    return size*100
s1 = scale()
print(s1.met(2))

200

In [16]:
class color():
  def __init__(self,r,b,g):
    self.r = r
    self.b = b
    self.g = g
  def giveoutput(self,name):
    print("The color contains r,b,g :")
    print(self.r,self.b,self.g)
    print("The color is: ",name)

c1 = color(201,34,89)
c1.giveoutput("cyan")

The color contains r,b,g :
201 34 89
The color is:  cyan

In [17]:
# Python Default Constructor
# Example parametrized constructors
class student:
    name = "Ram"
    age =  21

    def display(self,styear):
       print("Student joined IIIT Dharwad   :", self.name, self.age, styear)
       if styear <= 2020 :
         print ("Student has completed the course")
       return 
s1=student()
s2=student()
s3=student()

s1.display(2021)
s2.display(2019)

Student joined IIIT Dharwad   : Ram 21 2021
Student joined IIIT Dharwad   : Ram 21 2019
Student has completed the course