<a href="https://colab.research.google.com/github/anantterkar/OOPS_assignments/blob/main/OOP_assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Problem 1

In [ ]:
class circle():
  def __init__(self,radius):
    self.radius = radius
  def area(self):
    area = 3.141*(self.radius)**2
    print("Area of circle:",area)
  def circumference(self):
    circ = 6.282*(self.radius)
    print("Circumference of circle:",circ)
c1 = circle(20)
c1.area()
c1.circumference()

Area of circle: 1256.4
Circumference of circle: 125.64

Problem 2

In [ ]:
class faculty():
  def __init__(self,Name,EmpID,Branch,Salary):
    self.Name = Name
    self.EmpID = EmpID
    self.Branch = Branch
    self.Salary = Salary
  def displayName(self):
    print("Name: ",self.Name)
  def displayEmpID(self):
    print("Employee ID: ",self.EmpID)
  def displayBranch(self):
    print("Branch: ",self.Branch)
  def displaySalary(self):
    print("Salary: ",self.Salary)
names = []
emp_id = []
brch = []
salary = []
prof = []
for i in range(0,5):
  name = input("Enter the name of the faculty: ")
  names.append(name)
  id = input("Enter the employee ID: ")
  emp_id.append(id)
  branch = input("Enter branch code: ")
  brch.append(branch)
  slry = input("Enter salary amount: ")
  salary.append(slry)
for i in range(0,5):
  prof.append(faculty(names[i],emp_id[i],brch[i],salary[i]))
  prof[i].displayName()
  prof[i].displayEmpID()
  prof[i].displayBranch()
  prof[i].displaySalary()

Enter the name of the faculty: Yudhisthira
Enter the employee ID: 01CS
Enter branch code: CSE
Enter salary amount: 20000
Enter the name of the faculty: Bheema
Enter the employee ID: 02EC
Enter branch code: ECE
Enter salary amount: 20000
Enter the name of the faculty: Arjuna
Enter the employee ID: 03EE
Enter branch code: EEE
Enter salary amount: 18000
Enter the name of the faculty: Nakula
Enter the employee ID: 04ME
Enter branch code: MEE
Enter salary amount: 17000
Enter the name of the faculty: Sahadeva
Enter the employee ID: 05CE
Enter branch code: CAE
Enter salary amount: 16500
Name:  Yudhisthira
Employee ID:  01CS
Branch:  CSE
Salary:  20000
Name:  Bheema
Employee ID:  02EC
Branch:  ECE
Salary:  20000
Name:  Arjuna
Employee ID:  03EE
Branch:  EEE
Salary:  18000
Name:  Nakula
Employee ID:  04ME
Branch:  MEE
Salary:  17000
Name:  Sahadeva
Employee ID:  05CE
Branch:  CAE
Salary:  16500

Problem 3

In [ ]:
class account():
  def __init__(self, Account_No, Name, Amount):
     self.Account_No = Account_No
     self.Name = Name
     self.Amount = Amount
 
  def account_details(self):
    print("Account Number: ", self.Account_No)
    print("Account holder name: ", self.Name)
    print("Total amount remaining: ", self.Amount)
  def deposit(self,amt):
    self.Amount = self.Amount + amt
  def withdraw(self,amt):
    self.Amount = self.Amount - amt
  def check_balance(self):
    print("Your account balance is: ", self.Amount)

A = account(23456,"Anil",500000)
A.account_details()
A.deposit(50000)
A.check_balance()
A.withdraw(100000)
A.check_balance()

Account Number:  23456
Account holder name:  Anil
Total amount remaining:  500000
Your account balance is:  550000
Your account balance is:  450000

Problem 4

In [ ]:
class student():
  def __init__(self,Name,USN,Marks):
    self.Name = Name
    self.USN = USN
    self.Marks = Marks
  def displayName(self):
    print("Name: ", self.Name)
  def displayUSN(self):
    print("USN: ", self.USN)
  def displayMarks(self):
    print("Marks: ",self.Marks)
marks = []
marks.append(94)    # marks of a student object in three subjects
marks.append(86)
marks.append(97)

s1 = student("Ram", 25, marks)
s1.displayName()
s1.displayUSN()
s1.displayMarks()

Name:  Ram
USN:  25
Marks:  [94, 86, 97]

Problem 5

In [ ]:
gnrl_ward=0
O2_support=0
class COVID19():
  Name = None
  Symptoms = []
  O2 = 0
  doa = 0
  dod = 0
  def entry(self):
    self.Name = input("Enter your name: ")
    print("Enter three major symptoms: ")
    for i in range(0,3):
      sy = input()
      self.Symptoms.append(sy)
    self.O2 = int(input("Enter O2 level: "))
    self.doa = input("Enter date of admission: ")
  def severity(self):
    global gnrl_ward
    global O2_support
    if self.O2<90:
      O2_support = O2_support + 1
    else:
      gnrl_ward = gnrl_ward + 1
  def gnrl_ward_cnt(self):
    global gnrl_ward
    print("Number of patients in general ward: ",gnrl_ward)
  def support(self):
    global O2_support
    print("Number of patients with Oxygen support: ",O2_support)
  def patients(self):
    print("Number of patients in total: ",gnrl_ward + O2_support)

p1 = COVID19()
p1.entry()
p1.severity()

p2 = COVID19()
p2.entry()
p2.severity()

p3 = COVID19()
p3.entry()
p3.severity()

p3.gnrl_ward_cnt()
p3.support()
p3.patients()

Enter your name: Anant
Enter three major symptoms:
Cough
Fever
Throatpain
Enter O2 level: 87
Enter date of admission: 15 Sep
Enter your name: Julia
Enter three major symptoms:
High fever
Bodyache
nausea
Enter O2 level: 94
Enter date of admission: 16 Sep
Enter your name: Ali
Enter three major symptoms:
Cough
Stomach ache
vomiting
Enter O2 level: 89
Enter date of admission: 17 Sep
Number of patients in general ward:  1
Number of patients with Oxygen support:  2
Number of patients in total:  3

Problem 6

In [ ]:
class time():
  def __init__(self,hour=0,minutes=0,seconds=0):
    self.minutes = minutes
    self.seconds = seconds
    self.hour = hour
  def displaytime(self):
    print(self.hour,":",self.minutes,":",self.seconds)
t1 = time()
t1.displaytime()
t1.hour = 13
t1.minutes = 34
t1.seconds = 53
t1.displaytime()

0 : 0 : 0
13 : 34 : 53

Problem 7

In [ ]:
class student():
  def __init__(self,Name,Age,Roll):
    self.Name = Name
    self.Age = Age
    self.Roll = Roll

s1 = student("Rahul", 21, 33)
s2 = student("Rohit", 22, 74)
def compare(s1, s2):
  if s1.Name == s2.Name:
    print("True")
  else:
    print("False")
compare(s1,s2)

False

Problem 8

In [ ]:
class student():
  semester = "3rd Sem"
  insti = "IIIT DHARWAD"
  def __init__(self,Name,USN):
    self.Name = Name
    self.USN = USN
  def display(self):
    print("Name: ",self.Name)
    print("USN: ",self.USN)
  @classmethod
  def dis_class(cls):
    print(cls.semester)
    print(cls.insti)
  @staticmethod
  def printclass(Name, USN, semester, insti):
    print("Name: ",Name)
    print("USN: ", USN)
    print("semester: ",semester)
    print("Institute: ",insti)

s1 = student("Arhan", 857)
s1.display()
s1.dis_class()
s1.printclass("Arhan",857,"3rd Sem", "IIIT DHARWAD")

Name:  Arhan
USN:  857
3rd Sem
IIIT DHARWAD
Name:  Arhan
USN:  857
semester:  3rd Sem
Institute:  IIIT DHARWAD

Problem 9

In [29]:
class student():
  def __init__(self,Name,Roll,Sem,CPU,RAM,Hard_disk,display_details):
    self.Name = Name
    self.Roll = Roll
    self.Sem = Sem

    self.lap = self.laptop(CPU,RAM,Hard_disk,display_details)
  class laptop():
    def __init__(self,CPU,RAM,Hard_disk,display_details):
      self.CPU = CPU
      self.RAM = RAM
      self.Hard_disk = Hard_disk
      self.display_details = display_details
    def displayDetails(self):
      print("CPU : ",self.CPU)
      print("RAM: ",self.RAM)
      print("Hard_disk: ",self.Hard_disk)
      print("Display details: ",self.display_details)
  def display_student(self):
    print("Name: ",self.Name)
    print("Roll: ",self.Roll)
    print("Sem: ",self.Sem)
    self.lap.displayDetails()



s1 = student("Halua",23,3,"i7","8 GB","1TB HDD","8K")
s2 = student("Balton",24,5,"i9","16 GB","1TB SSD","16K")
s3 = student("Sheldon",45,1,"i3","4 GB","256GB HDD","2K")
s1.lap.displayDetails()
s1.display_student()

s2.lap.displayDetails()
s2.display_student()

s3.lap.displayDetails()
s3.display_student()

CPU :  i7
RAM:  8 GB
Hard_disk:  1TB HDD
Display details:  8K
Name:  Halua
Roll:  23
Sem:  3
CPU :  i7
RAM:  8 GB
Hard_disk:  1TB HDD
Display details:  8K
CPU :  i9
RAM:  16 GB
Hard_disk:  1TB SSD
Display details:  16K
Name:  Balton
Roll:  24
Sem:  5
CPU :  i9
RAM:  16 GB
Hard_disk:  1TB SSD
Display details:  16K
CPU :  i3
RAM:  4 GB
Hard_disk:  256GB HDD
Display details:  2K
Name:  Sheldon
Roll:  45
Sem:  1
CPU :  i3
RAM:  4 GB
Hard_disk:  256GB HDD
Display details:  2K